layout splits
launch zsh
cd ~
enabled_layouts splits

new_tab ranger
launch ranger
enabled_layouts splits

{{- if eq .chezmoi.hostname "texus" }}
new_tab cmus
launch cmus
enabled_layouts splits
{{- end }}

new_tab web
launch w3m
enabled_layouts splits

new_tab irc
launch weechat -a
enabled_layouts splits

new_tab rss
launch newsboat
enabled_layouts splits

new_tab emacs
launch emacs --no-window-system --eval '(notmuch)'
enabled_layouts splits
