{{- if eq .chezmoi.hostname "texus" }}
"/media/250_HDD/Audio","soyoarch:/mnt/BARRACUDA/Audio"
"/media/HDD500_1/.free","soyoarch:/mnt/plex/.free"
"/media/HDD500_1/DOCUMENTARIES","soyoarch:/mnt/plex/DOCUMENTARIES"
"/media/HDD500_1/Movies_MK","soyoarch:/mnt/plex/Movies_MK"
"/media/HDD500_1/Movies_PD","soyoarch:/mnt/plex/Movies_PD"
"/media/HDD500_1/TV_Series","soyoarch:/mnt/plex/TV_Series"
"/media/gen_dta/Calibre Library","soyoarch:/mnt/King/calibre_lib_bckp"
"/media/gen_dta/Obrazy","soyoarch:/mnt/King/obrazy_bckp"
"/media/gen_dta/Videos","soyoarch:/mnt/plex/Videos"
"/home/ssserpent/Music","soyoarch:/mnt/BARRACUDA/Music"
"/home/ssserpent","soyoarch:/mnt/BARRACUDA/home_dir_texus_arch_bckp"
{{- end}}
{{- if eq .chezmoi.hostname "samsarch" }}
"/home/ssserpent","soyoarch:/mnt/BARRACUDA/home_dir_samsarch_bckp"
{{- end}}
