{{- if eq .chezmoi.hostname "texus" }}
"/media/250_HDD/Audio","lenspark:/media/BARRACUDA/Audio"
"/media/HDD500_1/.free","lenspark:/media/plex/.free"
"/media/HDD500_1/DOCUMENTARIES","lenspark:/media/plex/DOCUMENTARIES"
"/media/HDD500_1/Movies_MK","lenspark:/media/plex/Movies_MK"
"/media/HDD500_1/Movies_PD","lenspark:/media/plex/Movies_PD"
"/media/HDD500_1/TV_Series","lenspark:/media/plex/TV_Series"
"/media/gen_dta/Calibre Library","imac:/home/ssserpent/Backups/calibre_lib_bckp"
"/media/gen_dta/Obrazy","imac:/home/ssserpent/Backups/obrazy_bckp"
"/media/gen_dta/Videos","lenspark:/media/plex/Videos"
"/home/ssserpent/Music","lenspark:/media/BARRACUDA/Music"
"/home/ssserpent","imac:/home/ssserpent/Backups/home_dir_texus_arch_bckp"
{{- end}}
{{- if eq .chezmoi.hostname "samsarch" }}
"/home/ssserpent","imac:/home/ssserpent/Backups/home_dir_samsarch_bckp"
{{- end}}
